<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div style="position: relative; text-align: center; color: white;
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://res.cloudinary.com/dvoqjgv7l/image/upload/v1701343118/event-picture6_qdowl3.jpg');
            height: 500px; background-position: center; background-repeat: no-repeat; background-size: cover;">

    <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        Your hub for expat adventures. Attend or create your event. <br> Make friends for a lifetime.
    </h1>
</div>
    </div>
    <div class="carousel-item">
    <div style="position: relative; text-align: center; color: white;
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://res.cloudinary.com/dvoqjgv7l/image/upload/v1701343115/event-picture4_veit55.jpg');
            height: 500px; background-position: center; background-repeat: no-repeat; background-size: cover;">

    <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        Your hub for expat adventures. Attend or create your event. <br> Make friends for a lifetime.
    </h1>
</div>
    </div>
    <div class="carousel-item">
    <div style="position: relative; text-align: center; color: white;
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://res.cloudinary.com/dvoqjgv7l/image/upload/v1701333856/outdoor1_bmwfyw.jpg');
            height: 500px; background-position: center; background-repeat: no-repeat; background-size: cover;">

    <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        Your hub for expat adventures. Attend or create your event. <br> Make friends for a lifetime.
    </h1>
</div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Event Listing -->
<h2 style="color: black; font-weight: bold; text-align: center;">Casual Meetups</h2>
<div class="container">
  <div class="row">
    <% @events.in_groups_of(2, false).each do |group| %>
      <% group.each do |event| %>
        <div class="col-md-4" style="padding-bottom: 15px;">
          <%= link_to event_path(event), class: 'text-decoration-none' do %>
            <div class="card" style="border-radius: 10px; overflow: hidden;">
<div class="card-img-top" style="height: 150px; background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://res.cloudinary.com/dvoqjgv7l/image/upload/v1701333856/outdoor1_bmwfyw.jpg'); background-size: cover; background-position: center;"></div>

              <%
=begin%>
 <div class="card-img-top" style="height: 150px; background-image: url('<%= event.image_url || 'path_to_default_image' %>'); background-size: cover; background-position: center;"></div>
<%
=end%>


              <div class="card-body">
                <h5 class="card-title" style="color: black; font-weight: bold; text-align: center;"><%= event.title %></h5>
                <div class="text-center">
                </div>
                <div class="d-flex justify-content-between mt-2">
                  <%= event.starts_at.strftime("%Y-%m-%d %H:%M") %>
                  <%
=begin%>
 <%= @event.address || "No address provided" %>
                  <%= @creator.first_name%> <%= @creator.last_name %>
                  <%= @event.description %>
                  <%= @event.limit %>
<%
=end%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>





<%
=begin%>

<h2>Pick an event</h2>
<% @events.each do |event| %>
  <%= link_to event_path(event) do %>
   <%# card with picture %>
   <p><%= event.title %></p>
  <% end %>
<% end %>
<%
=end%>
