<div class="wraper">
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="position: relative; width: 100%;">
  <div class="carousel-inner">
    <% @events.each_with_index do |event, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>" data-bs-interval="3000">
        <div style="position: relative; text-align: center; color: white;
                background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url(<%= event.photo.attached? ? url_for(event.photo) : url_for(event.category.photo) %>);
                height: 500px; background-position: center; background-repeat: no-repeat; background-size: cover;">

          <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <span style="font-size: 1em;"><%= event.title %></span> <br>
            <span style="font-size: 0.75em;"><%= event.description %></span> <br>
            <span style="font-size: 0.50em;"><%= event.starts_at.strftime("%B %d, %Y") %></span>
          </h1>
        </div>
      </div>
    <% end %>
  </div>
</div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" style="position: absolute; top: 50%; left: 15px; transform: translateY(-50%);">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%);">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%# Group events by category %>
<div class="container">
  <div class="row">
    <% @events.group_by(&:category).each do |category, events| %>
      <% if category %>
        <h2 style="color: black; font-weight: bold; text-align: center;"><%= category.name %></h2>
        <% events.each do |event| %>
          <div class="col-md-6" style="padding-bottom: 15px;">
              <%= link_to event_path(event), class: 'text-decoration-none' do %>
                <div class="card" style="border-radius: 10px; overflow: hidden;">
                  <div class="card-img-top" style="height: 150px; background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= event.photo.attached? ? url_for(event.photo) : (event.category&.photo ? url_for(event.category.photo) : 'path_to_default_image') %>); background-size: cover; background-position: center;">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" style="color: black; font-weight: bold; text-align: center;"><%= event.title %></h5>
                    <div class="text-center">
                    </div>
                    <div class="d-flex justify-content-between mt-6" style="flex-wrap: wrap;">
                      <p style="margin-bottom: 1rem;"> <strong>Date:</strong> <%= event.starts_at.strftime("%B %e, %Y") %> </p>
                      <p style="margin-bottom: 1rem;"> <strong>Time:</strong> <%= event.starts_at.strftime("%l:%M %p") %> </p>
                      <p style="margin-bottom: 1rem;"> <strong>Location:</strong> <%= event.address %> </p>
                      <p style="margin-bottom: 1rem;"> <strong>Free slots:</strong> <%= event.limit %> </p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      <% else %>
        <h2 style="color: black; font-weight: bold; text-align: center;">Uncategorized Events</h2>
        <% events.each do |event| %>
          <%# Output event details here %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
