<% if @event %>
    <div class="hero-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= url_for(@event.photo.attached? ? @event.photo : @event.category.photo) %>); background-repeat: no-repeat; background-size: cover; background-position: center; height: 500px; display: flex; justify-content: center; align-items: center;">
      <h1 style="color: white; text-align: center; position: relative;">
        <span style="font-size: 1em;"><%= @event.title %></span> <br>
        <span style="font-size: 0.75em;"><%= @event.category.image_url %></span>
        <br>
      </h1>
    </div>
  </div>
<% else %>
  <!-- Fallback content if event is not available -->
<% end %>

<div class="contenedor-flex">
  <% if @event.starts_at.day == @event.ends_at.day %>
    <div class="item">
        <span class="emoji"><i class="fa-regular fa-calendar"></i></span>
        <p><%= @event.starts_at.strftime("%B %e, %Y") %></p>
    </div>
    <div class="item">
        <span class="emoji"><i class="fa-regular fa-clock"></i></span>
        <p><%= @event.starts_at.strftime("%l:%M %p") %> - <%= @event.ends_at.strftime("%l:%M %p") %></p>
    </div>
  <% else %>
    <div class="item">
         <span class="emoji"><i class="fa-regular fa-calendar"></i></span>
        <p><%= @event.starts_at.strftime("%B %e, %Y") %> - <br> <%= @event.ends_at.strftime("%B %e, %Y") %></p>
    </div>
    <div class="item">
        <span class="emoji"><i class="fa-regular fa-clock"></i></span>
        <p> <%= @event.starts_at.strftime("%l:%M %p") %> - <%= @event.ends_at.strftime("%l:%M %p") %></p>
    </div>
  <% end %>
  <div class="item">
       <span class="emoji"><i class="fa-regular fa-user"></i></span>
        <p> <%= @participants %> / <%= @event.limit %></p>
    </div>
    <div class="item">
        <span class="emoji"><i class="fa-solid fa-map-pin"></i></span>
        <p><%= @event.address %></p>
  </div>
</div>



<div class="wraper custom-class">
  <div id="container-shadow" class="container mt-3 mb-5">
    <div id="event-card" class="row">
      <div class="col-8 d-flex">
        <div class="event-location-description d-flex flex-column justify-content-between p-3">
          <div>
            <div class="d-flex align-items-center" id="event-creator"  data-bs-toggle="modal" data-bs-target="#hostModal">
              <%= cl_image_tag @creator.avatar.key, class: "avatar-large", alt: "dropdown menu" %>
              <div class="d-flex flex-column ms-2">
                <h5 class="ms-2 mb-0"><strong><%= @creator.first_name%> <%= @creator.last_name %></strong></h5>
                <span class="subhost">Host</span>
                </div>
              </div>
              <%# Display event details such as date, time, location, etc. %>
              <%# Display event description %>
            <div class="mt-3">
              <p><%= @event.description %></p>
            </div>
          </div>
              <%# <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> %>

          <%= button_to "Join Event", event_attendances_path(@event), class:"btn btn-primary" unless @event.user == current_user %>

          <%= render "modal", user: @creator %>
        </div>
      </div>

      <%# style="float: right; width: 30%; height: 600px;" %>
      <div class="col-4" >
        <div class="map-location" style="height: 100%"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
  <%# ADD "JOIN EVENT" ATTENDANCE BUTTON%>
  <%# HAVE TO ADD ATTENDANCES COUNTER%>
  <%# HAVE TO ADD MAP %>
