<% if @event %>
  <div class="hero-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= url_for(@event.category.photo) %>); background-repeat: no-repeat; background-size: cover; background-position: center; height: 500px; display: flex; justify-content: center; align-items: center; margin-top: 0; margin-bottom: 20px;">
    <div class="container">
      <h1 style="color: white; text-align: center; position: relative;">
        <span style="font-size: 1em;"><%= @event.category.name %></span> <br>
        <span style="font-size: 0.75em;"><%= @event.category.image_url %></span>
        <br>
      </h1>
    </div>
  </div>
<% else %>
  <!-- Fallback content if event is not available -->
<% end %>


<div class="wraper custom-class">
  <div id="container-shadow" class="container my-5">
    <div class="row">
      <div class="col-8" >
        <h2><%= @event.title %></h2>
        <div class="event-location-description">
          <%# Display event details such as date, time, location, etc. %>
          <p><strong>Date:</strong> <%= @event.starts_at.strftime("%B %e, %Y") %></p>
          <p><strong>Time:</strong> <%= @event.starts_at.strftime("%l:%M %p") %> - <%= @event.ends_at.strftime("%l:%M %p") %></p>
          <p><strong>Location:</strong> <%= @event.address %></p>
          <p><strong>Limit:</strong> <%= @event.limit %></p>
          <%# Display event description %>
          <p><strong>Description:</strong> <%= @event.description %></p>
          <%# Display event creator information %>
          <p><strong>Created by:</strong> <%= @creator.first_name%> <%= @creator.last_name %></p>
          <%# link_to "Join event", events_path % %>
           <%= button_to "Join Event", event_attendances_path(@event), class:"btn btn-primary" unless @event.user == current_user %>
        </div>
      </div>

      <%# style="float: right; width: 30%; height: 600px;" %>
      <div class="col-4" >
        <div class="map-location" style="height: 100%"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
  <%# ADD "JOIN EVENT" ATTENDANCE BUTTON%>
  <%# HAVE TO ADD ATTENDANCES COUNTER%>
  <%# HAVE TO ADD MAP %>
