<div class="wraper custom-class" style="float: left; width: 70%;">
    <h2><%= @event.title %></h2>
      <div>
      <%# Display event details such as date, time, location, etc. %>
      <p><strong>Date:</strong> <%= @event.starts_at.strftime("%B %e, %Y") %></p>
      <p><strong>Time:</strong> <%= @event.starts_at.strftime("%l:%M %p") %> - <%= @event.ends_at.strftime("%l:%M %p") %></p>
      <p><strong>Location:</strong> <%= @event.address %></p>
      <p><strong>Limit:</strong>  /<%= @event.limit %></p>
      <%# Display event description %>
      <p><strong>Description:</strong> <%= @event.description %></p>
      <%# Display event creator information %>
      <p><strong>Created by:</strong> <%= @creator.first_name%> <%= @creator.last_name %></p>
      <%# link_to "Join event", events_path % %>
    </div>
</div>
  <%# ADD "JOIN EVENT" ATTENDANCE BUTTON%>
  <%# HAVE TO ADD ATTENDANCES COUNTER%>
  <%# HAVE TO ADD MAP %>
</div>

<div style="float: right; width: 30%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
