<div class="wraper">

  <div class="container d-flex justify-content-around">
    <div>
      <h5>Events I want to attend</h5>
      <% @attendances.each do |attendance|%>
        <%= link_to event_path(attendance.event) do %>
          <div class="card">
            <div class="card-body">
              <p>
                <%= attendance.event.title %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      <h5>Events I am hosting</h5>
        <% @events_as_host.each do |event|%>
        <%= link_to event_path(event) do %>
         <div class="card">
            <div class="card-body">
              <p><%= event.title %></p>
              <%= link_to "Delete Event", event_path(event), class:"btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this event?" } %>
           </div>
        </div>
        <% end %>
        <% end %>
    </div>

   <div class="card">
    <div class="card-body">
      <div id="profilepicture" class="align-items-center justify-content-center">
        <h5 class="card-title">My Profile</h5>
        <%= cl_image_tag current_user.avatar.key, id:"profileavatar", class: "card-img-top", crop: :fill %>
        <p class="card-text"><%= current_user.bio %></p>
        <p class="card-text"><%= current_user.location %> <i class="bi bi-pin-map-fill"></i></p>
        <p class="card-text">Let's connect!</p>
        <a href='<%= current_user.social_media %>' target='_blank' class="card-link"><i class='fab fa-instagram'></i></a>
        <a href="https://twitter.com/ExpaTube" target="_blank" class="card-link"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/ExpaTube" target="_blank" class="card-link"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
</div>
</div>
</div>
