<!DOCTYPE html>
<html>
  <head>
    <title>ExpaTube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  </head>

  <body>
  <!-- Navbar -->
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>
   <!-- Flash messages -->
  <%
=begin%>
 <p class="notice"><%= notice %></p>
<%
=end%>
  <%
=begin%>
 <p class="alert"><%= alert %></p>
<%
=end%>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
